@page "/"

<h1>Willkommen bei BlazeVote</h1>

<p>Diese Anwendung erlaubt eine einfache anonyme Abstimmung.</p>

<h3>So funktionierts</h3>
<p>Jeder kann frei eine Gruppe auf dieser Seite erstellen. Innerhalb dieser Gruppe kann eine Liste von öffentlichen Schlüsseln erstellt werden.
    Diese können dann an die jeweiligen Teilnehmer verteilt werden. Die Teilnehmer wandeln dann diese Schlüssel in einen privaten Schlüssel um, mit welchem
    sie abstimmen. Dadurch kann nicht mehr nachvefolgt werden, welcher Person dieser generierte Schlüssel gehört.</p>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
