@page "/Vote"

@using BlazeVote.Data
@using System.ComponentModel.DataAnnotations
@using Blazored.LocalStorage
@using BlazeVote.Components.UserArea;
@inject Services.VoteService VoteService
@inject ILocalStorageService localStore

<h1>Abstimmung</h1>

<p>Für eine Abstimmung gebe bitte zunächst eine Gruppenkennung ein</p>

@if (currentGroup == null)
{
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Privaten Schlüssel generieren</h5>
                    <PublicToHiddenKeyConverter></PublicToHiddenKeyConverter>
                </div>
            </div>
        </div>
        
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mit Geheimen Schlüssel anmelden</h5>
                </div>
            </div>
        </div>
    </div>
}

@code {

    private class PublicKeyInput
    {
        [Required]
        public string Key { get; set; }
    }

    private class GroupLogin
    {
        [Required]
        public string GroupId { get; set; }
    }

    private PublicKeyInput publicKeyModel = new PublicKeyInput();

    VoteGroup currentGroup;

    GroupLogin groupLogin = new GroupLogin();


    public void CheckGroupLogin()
    {
        var group = VoteService.GetVoteGroup(groupLogin.GroupId);
        if (group != null)
        {
            currentGroup = group;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        // Check if the last given key is still valid.
        var id = await localStore.GetItemAsStringAsync("blazeVoteGroupId");
        if (!string.IsNullOrEmpty(id))
        {
            var group = VoteService.GetVoteGroup(id);
            if (group != null)
            {
                currentGroup = group;
                // Check if the saved Hidden Key is valid for this group, if not delete it!
                var savedKey = await localStore.GetItemAsStringAsync("blazeVoteHiddenKey");
                if (!string.IsNullOrEmpty(savedKey))
                {
                    if (!group.HiddenKeys.Any(n => n.HiddenKeyId == savedKey))
                    {
                        await localStore.RemoveItemAsync("blazeVoteHiddenKey");
                    }
                }
            }
            else
            {
                // Delete the Secret because the key doesnt seems to be valid
                await localStore.RemoveItemAsync("blazeVoteGroupId");
            }
        }
    }
}
